@import "shared/variables.css";
@import "shared/fonts.css";
@import "shared/header.css";
@import "shared/buttons.css";
@import "shared/form.css";
@import "shared/author.css";
@import "shared/books.css";

:root {
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
  font-size: 20px;
  color: #323232;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.288) 0%,
      rgba(0, 0, 0, 0.062) 42%,
      transparent 42%,
      transparent 53%,
      rgba(0, 0, 0, 0.342) 53%,
      rgba(0, 0, 0, 0.377) 62%,
      transparent 62%,
      transparent 88%,
      rgba(0, 0, 0, 0.418) 88%,
      rgba(0, 0, 0, 0.384) 100%
    ),
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 29%,
      rgba(204, 204, 204, 0.274) 29%,
      rgba(212, 212, 212, 0.336) 35%,
      rgb(155, 155, 155) 35%,
      rgba(213, 217, 221, 0.295) 55%,
      transparent 55%,
      transparent 56%,
      rgba(155, 155, 155, 0.322) 56%,
      rgba(0, 0, 0, 0.418) 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255)); */
  background-image: repeating-linear-gradient(
      9deg,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 10px,
      transparent 10px,
      transparent 12px
    ),
    repeating-linear-gradient(
      109deg,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 10px,
      transparent 10px,
      transparent 12px
    ),
    repeating-linear-gradient(
      225deg,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 10px,
      transparent 10px,
      transparent 12px
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
  height: 100vh;
}

.inner-container {
  margin: 0 2rem;
}

.page-header {
  font-size: 2rem;
  font-weight: 500;
  padding-left: 2.8rem;
}

.error-message {
  color: hsl(var(--color-danger-hue), 100%, 50%);
}
